{% if block.settings.show_custom_variants %}
    {% if product.metafields.custom.product_options.size > 0 %}
        <div class="product-options" role="navigation" aria-label="Product Options">
          <h3>Other Options:</h3>
          <ul>
            {% for option_product in product.metafields.custom.product_options %}
              <li>
                <a href="{{ option_product.url }}" rel="noopener noreferrer">{{ option_product.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
    {% endif %}
{% endif %}
  