.swatches {
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
    background-color: rgb(var(--color-background));
    color: rgba(var(--color-foreground));
    border-radius: var(--variant-pills-radius);
    color: rgb(var(--color-foreground));
    display: inline-block;
    margin: .7rem .5rem .2rem 0;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    position: relative;
}

.color-swatches{
    padding: 1.5rem 2rem;
}

img.swatches{
    width: 2rem;
    height: 1.5rem;
    object-fit: none;
    padding: 0;
}

.product-options a{
    color: transparent;
}

.product-options h3 {
    font-size: 1.3rem;
    line-height: calc(1 + .5 / var(--font-body-scale));
    letter-spacing: .04rem;
    color: rgba(var(--color-foreground), .75);
    font-weight: 400;
    margin-bottom: 0;
}